*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
  margin: 0;
  min-height: 100vh;
}

body {
  text-rendering: optimizeSpeed;
}

html:focus-within {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
  font: inherit;
  color: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}